@if (List == null)
{

}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Week</th>
                <th>Title <sup>(Original)</sup></th>
                <th>Year</th>
                <th>Directors</th>
                @* <th>Countries</th> *@
                <th>IMDb Page</th>
            </tr>
        </thead>
        <tbody>

            @{
                int count = 0;
            }
            @foreach (var season in List)
            {
                int seasonId = season.SeasonId;

                @for (int i = 0; i < season.Movies.Length; i++)
                {
                    var movie = season.Movies[i];

                    count++;
                    int week = i + 1;
                    var link = $"https://www.imdb.com/title/{movie.TitleId}/";

                    var seasonWeek = $"{seasonId}x{week:00}";

                    <tr>
                        <td><span class="text-muted">@count</span></td>
                        <td>@seasonWeek</td>
                        @if (!string.IsNullOrEmpty(movie.TitleIT))
                        {
                            <td>@movie.TitleIT <sup>(@movie.OriginalTitle)</sup></td>
                        }
                        else
                        {
                            <td>@movie.OriginalTitle</td>
                        }
                        <td>@movie.Year</td>
                        <td>@movie.Directors</td>
                        @* <td>@movie.Countries</td> *@
                        <td><a href="@link" target="_blank"><button class="btn btn-sm btn-outline-primary"
                        type="button">IMDb</button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


@code {
    [Parameter] public IQueryable<Season>? List { get; set; }
}
