@if (List == null)
{

}
else
{
    <span class="text-muted">Season: @List.SeasonId</span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title <sup>(Original)</sup></th>
                <th>Year</th>
                <th>Directors</th>
                <th>Countries</th>
                <th>IMDb Page</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < List.Movies.Length; i++)
            {
                int count = i + 1;

                var link = $"https://www.imdb.com/title/{List.Movies[i].TitleId}/";
            <tr>
                <td>@count</td>
                @if (!string.IsNullOrEmpty(List.Movies[i].TitleIT))
                {
                    <td>@List.Movies[i].TitleIT <sup>(@List.Movies[i].OriginalTitle)</sup></td>
                }
                else
                {
                    <td>@List.Movies[i].OriginalTitle</td>
                }
                <td>@List.Movies[i].Year</td>
                <td>@List.Movies[i].Directors</td>
                <td>@List.Movies[i].Countries</td>
                <td><a href="@link" target="_blank"><button class="btn btn-outline-primary" type="button">IMDb</button></a></td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter] public Season? List { get; set; }
}
