@page "/cineforum"
@using BlazorApp.Components.Common
@using BlazorApp.Models
@inject HttpClient Http

<PageTitle>Cineforum</PageTitle>

<h1>Cineforum</h1>
<div class="content mb-4">
    I host a cineforum with a group of friends weekly. This is a simple page to track the movies we watch together.
</div>

@if (loading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (movies is not null)
{
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <label class="form-label" for="searchBox">Results: @TotalMovies</label>
            <SearchBox placeholder="Search..." SearchQueryChanged="Search" Id="searchBox" />
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Week</th>
                <th>Title <sup>(Original)</sup></th>
                <th>Year</th>
                <th>Directors</th>
                @* <th>Countries</th> *@
                <th>IMDb Page</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in filtered)
            {
                var seasonWeek = $"{movie.SeasonNumber}x{movie.WeekNumber:00}";
                <tr>
                    <td><span class="text-muted">@movie.Number</span></td>
                    <td>@seasonWeek</td>
                    @if (!string.IsNullOrEmpty(movie.TitleIT))
                    {
                        <td>@movie.TitleIT <sup>(@movie.OriginalTitle)</sup></td>
                    }
                    else
                    {
                        <td>@movie.OriginalTitle</td>
                    }
                    <td>@movie.Year</td>
                    <td>@movie.Directors</td>
                    @* <td>@movie.Countries</td> *@
                    <td><a href="@movie.Link" target="_blank" class="btn btn-sm btn-outline-primary">IMDb</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    bool loading { get; set; } = true;
    IQueryable<MovieViewModel> movies = Enumerable.Empty<MovieViewModel>().AsQueryable();
    IQueryable<MovieViewModel> filtered = Enumerable.Empty<MovieViewModel>().AsQueryable();

    int TotalMovies => filtered.Count();

    protected override async Task OnInitializedAsync()
    {
        var data = await
        Http.GetFromJsonAsync<IReadOnlyList<Season>>($"sample-data/cineforum.json?v={DateTime.Today.ToString("yyyyMMdd.HHmm")}");

        if (data is not null)
            movies = GetViewModels(data);

        filtered = movies;

        loading = false;
    }

    async Task Search(string query)
    {
        if (string.IsNullOrEmpty(query))
        {
            filtered = movies.AsQueryable();
            return;
        }

        var searchTerm = query.ToLower();

        await Task.Run(() =>
        {
            filtered = filtered.AsQueryable().Where(m =>
    (m.OriginalTitle != null && m.OriginalTitle.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)) ||
    (m.TitleIT != null && m.TitleIT.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)) ||
    (m.Directors != null && m.Directors.Contains(searchTerm, StringComparison.OrdinalIgnoreCase))
    );
        });
    }

    static IQueryable<MovieViewModel> GetViewModels(IEnumerable<Season> seasons)
    {
        var list = new List<MovieViewModel>();

        int count = 0;

        foreach (var season in seasons)
        {
            int seasonNumber = season.SeasonId;

            for (int i = 0; i < season.Movies.Length; i++)
            {
                var movie = season.Movies[i];
                count++;

                list.Add(new MovieViewModel()
                {
                    Number = count,
                    WeekNumber = i + 1,
                    SeasonNumber = seasonNumber,

                    TitleId = movie.TitleId,
                    OriginalTitle = movie.OriginalTitle,
                    TitleIT = movie.TitleIT,
                    Year = movie.Year,
                    Directors = string.Join(", ", movie.Directors),
                    Countries = string.Join(", ", movie.Countries),
                });
            }
        }

        return list.AsQueryable();
    }
}
